[submodule "video_llava"]
	path = video_llava
	url = https://github.com/bhavyaalekhya/Video-LLaVA.git
[submodule "timechat"]
	path = timechat
	url = https://github.com/bhavyaalekhya/evaluation_suite.git
